body
{
    color: rgb(20, 138, 241);
    background: rgb(29, 233, 189);
}
.heading
{
    width: 80%;
    font-size: 22px;
}
#camera
{
   border: 2px dashed black;
   width: 350px;
   height: 300px;
}
.name_of_objects, #result_object_name, #result_object_accuracy
{
   color: yellow;
}
